/segment-anything/*

/input/

/pretrained/*.pth
!pretrained

.vscode/*
.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

/.venv

/out

**/__pycache__

.ipynb_checkpoints

last_params.json

trace.log
